*, *::before, *::after {
    box-sizing:border-box;
} 

/* header */

body {
    font-family: 'Merriweather', serif;
} 

header{
    background-image: url("images/banner.png");
    background-size: cover;
    color:rgb(235, 235, 235);
    text-shadow: 2px 2px 2px black;
}

h2{
    padding:20px 0 0 20px;
    font-weight: 700;
}

.intro {
    padding:0 0 20px 20px;
    font-weight: 400;
}

body, h2, .intro {
    margin:0;
}

/* main */

.menu-dish, .price-li,#total-price, .single-dish-name, .single-dish {
    display:flex;
}

#total-price, .single-dish-name, .single-dish {
    flex-direction:row;
}

.menu-dish, .price-li {
    list-style-type: none;
}

.menu-dish, .price-li, .single-dish-name{
    align-items: center;
}

.menu-text, .ingredients, .price {
    margin:10px 0;
}

.menu-img, .add-btn {
    border-radius: 50%;
    border:1px solid rgb(208, 204, 204);
}

.menu-text, #complete-btn, h3, .card-form {
    text-align: center;
}

.menu-dish,#total-price, .single-dish {
    justify-content: space-between;
}

.menu-img {
    width:100px;
    height:100px;
}

.menu-text {
    width:200px;
}

.ingredients {
    color:rgb(107, 107, 107);
}

h4 {
    margin-bottom:5px;
}

h5{
    margin:0.5em 0.2em 0.7em 2em;
}

h6 {
    margin:0.5em 1em;
}


hr {
    border: 0; 
    height: 1px; 
    background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
}

.price-li {
    margin-left:20px;
    padding: 25px;
    gap: 10px
}


/* btn */
.add-btn, #complete-btn, .remove-btn, #pay-btn {
    cursor:pointer;
    display: block; 
}

.add-btn, .remove-btn {
    background-color: white;
    color:rgb(150, 149, 149);
}

.add-btn{
    font-size:20px;
}

.add-btn:hover{
    background-color: rgb(212, 212, 212);
    color:whitesmoke;
}

#complete-btn, #pay-btn {
    border:none;
    background-color: rgb(33, 202, 146);
    color:whitesmoke;
    width:100%;
    padding:12px 28px;
    font-size:16px;
}

#complete-btn:hover, #pay-btn:hover {
    background-color: #8c8b8b;
    color:black;
}

.remove-btn {
    border:none;
    height:20px;
    font-size:0.7rem;
}

.remove-btn:hover, .remove-btn:active {
    text-decoration:underline;
}

.card-form {
    display: none;
    position:fixed;
    margin:auto;
    left: 0;
    right: 0;
    top:0;
    bottom: 0;
    border:1px solid black;
    width: 300px;
    height: 300px;
    background-color: white;
    flex-direction: column;
    justify-content: space-around;
}

form input {
    margin:10px;
    height:30px;
    width:270px;
    color:rgb(107, 107, 107);
}


.end-note {
    text-align: center;
    background-color:rgba(170, 237, 215, 0.929);
    color:rgb(7, 93, 65);
    font-weight: 400;
    padding:20px 150px;
    margin:15px 20px;
}